In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [15]:
df = pd.read_csv("data/train.csv")
df.sample(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
340,LP002115,Male,Yes,3+,Not Graduate,No,2647,1587.0,173.0,360.0,1.0,Rural,N
105,LP001367,Male,Yes,1,Graduate,No,3052,1030.0,100.0,360.0,1.0,Urban,Y
331,LP002098,Male,No,0,Graduate,No,2935,0.0,98.0,360.0,1.0,Semiurban,Y
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y

In [16]:
df.shape

(614, 13)

In [17]:
df.duplicated().sum()

0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [19]:
df.isnull().sum().sort_values(ascending=False)

Credit_History       50
Self_Employed        32
LoanAmount           22
Dependents           15
Loan_Amount_Term     14
Gender               13
Married               3
Loan_ID               0
Education             0
ApplicantIncome       0
CoapplicantIncome     0
Property_Area         0
Loan_Status           0
dtype: int64

In [24]:
df['LoanAmount'].describe()

count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [27]:
df['LoanAmount'].value_counts()

592

In [29]:
sc_mean = SimpleImputer(strategy= 'mean')
sc_fre  = SimpleImputer(strategy="most_frequent")

df['LoanAmount'] = sc_mean.fit_transform(df['LoanAmount'])

ValueError: Expected 2D array, got 1D array instead:
array=[ nan 128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.
  17. 125. 100.  76. 133. 115. 104. 315. 116. 112. 151. 191. 122. 110.
  35. 120. 201.  74. 106. 114. 320.  nan 100. 144. 184. 110.  80.  47.
  75. 134.  96.  88.  44. 144. 120. 144. 100. 120. 112. 134. 286.  97.
  96. 135. 180. 144. 120.  99. 165.  nan 116. 258. 126. 312. 125. 136.
 172.  97.  81.  95. 187. 113. 176. 110. 180. 130. 111.  nan 167. 265.
  50. 136.  99. 104. 210. 175. 131. 188.  81. 122.  25.  nan 137.  50.
 115. 131. 133. 151.  nan  nan 160. 100. 225. 120. 216.  94. 136. 139.
 152.  nan 118. 185. 154.  85. 175. 259. 180.  44. 137.  81. 194.  93.
 370.  nan 160. 182. 650.  74.  70.  25. 102. 290.  84.  88. 242. 129.
 185. 168. 175. 122. 187. 100.  70.  30. 225. 125. 118. 152. 244. 113.
  50. 600. 160. 187. 120. 255.  98. 275. 121. 158.  75. 182. 112. 129.
  63. 200.  95. 700.  81. 187.  87. 116. 101. 495. 116. 102. 180.  67.
  73. 260. 108. 120.  66.  58. 168. 188.  48. 164. 160.  76. 120. 170.
 187. 120. 113.  83.  90. 166.  nan 135. 124. 120.  80.  55.  59. 127.
 214. 128. 240. 130. 137. 100. 135. 131.  72. 127.  60. 116. 144. 175.
 128. 170. 138. 210. 158. 200. 104.  42. 120. 280. 140. 170. 255. 122.
 112.  96. 120. 140. 155. 108. 123. 120. 112. 137. 123.  90. 201. 138.
 104. 279. 192. 255. 115.  94. 304. 128. 330. 134. 155. 120. 128. 151.
 150. 160. 135.  90.  30. 136. 126. 150.  90. 115. 207.  80. 436. 124.
 158. 112.  78.  54.  nan  89.  99. 120. 115. 187. 139. 127. 134. 143.
 172. 110. 200. 135. 151. 113.  93. 105. 132.  96. 140.  nan 135. 104.
 480. 185.  84. 111.  56. 144. 159. 111. 120.  88. 112. 155. 115. 124.
  nan 132. 300. 376. 130. 184. 110.  67. 117.  98.  71. 490. 182.  70.
 160. 176.  nan  71. 173.  46. 158.  74. 125. 160. 152. 126. 259. 187.
 228. 308.  95. 105. 130. 116. 165.  67. 100. 200.  81. 236. 130.  95.
 141. 133.  96. 124. 175. 570.  55. 155. 380. 111. 110. 120. 130. 130.
  71. 130. 128. 296. 156. 128. 100. 113. 132.  nan 136. 125. 185. 275.
 120. 113. 113. 135.  71.  95. 109. 103.  45.  65. 103.  53. 194. 115.
 115.  66. 152. 360.  62. 160. 218. 110. 178.  60. 160. 239. 112. 138.
 138.  80. 100. 110.  96. 121.  81. 133.  87.  60. 150. 105. 405. 143.
 100.  nan  50.  nan 187. 138. 187. 180. 148. 152. 175. 130. 110.  55.
 150. 190. 125.  60. 149.  90.  84.  96. 118. 173. 136. 160. 160. 128.
 153. 132.  98. 140.  70. 110.  98. 110. 162. 113. 100.  93. 162. 150.
 230. 132.  86.  nan 154. 113. 128. 234. 246. 131.  80. 500. 160.  75.
  96. 186. 110. 225. 119. 105. 107. 111.  95. 209. 113. 100. 208. 138.
 124. 243. 480.  96. 188.  40. 100. 250. 148.  70. 311. 150. 113. 123.
 185.  95.  45.  55. 100. 480.  nan 400. 110. 161.  94. 130. 216. 100.
 110. 196. 125. 126. 324. 107.  66. 157. 140.  99.  95. 128. 102. 155.
  80. 145. 103. 110.  nan  nan 158. 181. 132.  26.  84. 260. 162. 182.
 108. 600. 211. 132. 258. 120.  70. 123.   9. 104. 186. 165. 275. 187.
 150. 108. 136. 110. 107. 161. 205.  90.  36.  61. 146. 172. 104.  70.
  94. 106.  56. 205. 292. 142. 260. 110. 187.  88. 180. 192. 350. 155.
 128. 172. 496.  nan 173. 157. 108.  71.  40. 253. 187. 133.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.