In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
df = pd.read_csv("automobile_data.csv")
df.sample(5)

,make,fuel_type,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,city_mpg,highway_mpg,price
157,toyota,diesel,four,hatchback,fwd,front,95.7,166.3,64.4,52.8,2275,ohc,four,110,idi,22.5,56,38,47,7788
102,nissan,gas,four,wagon,fwd,front,100.4,184.6,66.5,56.1,3296,ohcv,six,181,mpfi,9.0,152,17,22,14399
35,honda,gas,four,sedan,fwd,front,96.5,163.4,64.0,54.5,2010,ohc,four,92,1bbl,9.2,76,30,34,7295
171,toyota,gas,four,sedan,fwd,front,102.4,175.6,66.5,54.9,2326,ohc,four,122,mpfi,8.7,92,29,34,8948
166,toyota,gas,two,hardtop,rwd,front,98.4,176.2,65.6,52.0,2536,ohc,four,146,mpfi,9.3,116,24,30,9639

In [4]:
df= df.select_dtypes("number")

In [8]:
df.isnull().sum()
df.duplicated().sum()
df.drop_duplicates(keep = "first" , inplace=True)

In [5]:
# Standarrdization (feature scaling)
# Why
    # algo like knn (dis)  , logistice regression one factor domintates
# Standardization( Z score normlaisation) and Normilisation

# xi - xbar / verience -->create now column , mean == 0 , varience = 1
# this doesn't change curve disrtibtuin shape
# Can't handle outliers

# when to apply -- > K-means , KNN , PCA , ANN , Gradient Decent

In [33]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

X = df.drop(columns= ["price"])
y = df['price']
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size= .2)

In [34]:
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [36]:
X_train_sc = pd.DataFrame(X_train_sc  , columns= X_train.columns)
X_test_sc = pd.DataFrame(X_test_sc , columns= X_test.columns)

In [38]:
X_train.describe()

,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,horsepower,city_mpg,highway_mpg
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,98.642138,173.930189,65.905031,53.719497,2550.471698,126.748428,10.586855,103.194969,25.452830,31.012579
std,5.868133,11.883366,2.148500,2.442231,517.523482,42.138555,6.236813,39.696551,6.472628,6.870398
min,86.600000,144.600000,61.800000,47.800000,1713.000000,70.000000,7.000000,52.000000,13.000000,16.000000
25%,94.500000,166.550000,64.000000,52.000000,2157.000000,97.000000,8.600000,70.000000,19.500000,25.000000
50%,97.000000,173.000000,65.500000,54.100000,2405.000000,110.000000,9.000000,94.000000,25.000000,30.000000
75%,100.400000,180.250000,66.500000,55.550000,2923.500000,143.000000,9.400000,116.000000,31.000000,37.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,70.000000,288.000000,49.000000,54.000000

In [40]:
np.round(X_train_sc.describe() , 1)

,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,horsepower,city_mpg,highway_mpg
count,159.0,159.0,159.0,159.0,159.0,159.0,159.0,159.0,159.0,159.0
mean,0.0,-0.0,0.0,0.0,0.0,0.0,-0.0,0.0,-0.0,0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-2.1,-2.5,-1.9,-2.4,-1.6,-1.4,-0.6,-1.3,-1.9,-2.2
25%,-0.7,-0.6,-0.9,-0.7,-0.8,-0.7,-0.3,-0.8,-0.9,-0.9
50%,-0.3,-0.1,-0.2,0.2,-0.3,-0.4,-0.3,-0.2,-0.1,-0.1
75%,0.3,0.5,0.3,0.8,0.7,0.4,-0.2,0.3,0.9,0.9
max,3.8,2.9,3.0,2.5,2.9,4.7,9.6,4.7,3.6,3.4

In [ ]:
# Normlisation ( min- max scaling , mean normalisation , max )
# formula xi = xi-xmin / (xmax - xmin) --> 0 to 1 value range
# outerlier influence the data as it is also get scaled 

# mean normalisation xi = xi-mean / xmax - xmin ( mean centric ) -1 to 1 

# max abs scaling xi = xi/xmax --> useful for sparse data

# roboust scaling xi = xi-xmeadain / IQR  --> robust to outliers

In [ ]:
# Normalisation vs Standarization

#  Standarization is more common
#  Normalisation is when you know the range of the data

In [41]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()

X_train_ms = ms.fit_transform(X_train)
X_test_ms = ms.transform(X_test)

In [42]:
X_train_ms = pd.DataFrame(X_train_ms  , columns= X_train.columns)
X_test_ms = pd.DataFrame(X_test_ms , columns= X_test.columns)

In [44]:
X_train_ms.describe()

,wheel_base,length,width,height,curb_weight,engine_size,compression_ratio,horsepower,city_mpg,highway_mpg
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,0.351083,0.461893,0.390955,0.493291,0.355917,0.221674,0.056934,0.216928,0.345912,0.395068
std,0.171083,0.187140,0.204619,0.203519,0.219942,0.164604,0.098997,0.168206,0.179795,0.180800
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.230321,0.345669,0.209524,0.350000,0.188695,0.105469,0.025397,0.076271,0.180556,0.236842
50%,0.303207,0.447244,0.352381,0.525000,0.294093,0.156250,0.031746,0.177966,0.333333,0.368421
75%,0.402332,0.561417,0.447619,0.645833,0.514450,0.285156,0.038095,0.271186,0.500000,0.552632
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000